@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@1,900&display=swap');


h1 {
	font-size: 48px;
	text-align: center;
	font-family: 'Grandstander', cursive, sans-serif;
	color: purple;
}
h2 {
	font-size: 48px;
	text-align: center;
	font-family: 'Grandstander', cursive, sans-serif;
	color: purple;
}
h3 {
	font-size: 2rem;
	text-align: center;
	font-family: 'Grandstander', cursive, sans-serif;
	text-decoration: underline;
	
}
h4 {
	font-size: 3.5rem;
	text-align: center;
	font-family: 'Grandstander', cursive, sans-serif;
	text-decoration: underline;
	color: whitesmoke;
	
}
h5 {
	font-size: 2rem;
	text-align: center;
	font-family: 'Grandstander', cursive, sans-serif;
	text-decoration: underline;
	color: whitesmoke;
	
}
body {
	background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/badad0a5-3e93-4739-86d6-1e1bc9c91743/ddxppe7-c321a1d8-5d07-49d9-84bf-fd258443f4d5.png/v1/fill/w_1191,h_671,q_70,strp/rick_and_morty_background_by_mmormo_ddxppe7-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD03MjEiLCJwYXRoIjoiXC9mXC9iYWRhZDBhNS0zZTkzLTQ3MzktODZkNi0xZTFiYzljOTE3NDNcL2RkeHBwZTctYzMyMWExZDgtNWQwNy00OWQ5LTg0YmYtZmQyNTg0NDNmNGQ1LnBuZyIsIndpZHRoIjoiPD0xMjgwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.0qd2MgtQuqBbb50LejKYyeJkP26WmGeANCkRgzGS2yw);
	background-size: cover;
	font-variant: small-caps;
	font-family: 'Grandstander', cursive, sans-serif;
	font-size: 5rem;
	color: black;
	text-transform: capitalize;
}
.App {
	text-align: center;
}
